include ../mixins/sub-menu.pug

header.header 
    .container  
        .row.align-items-center     
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/client/images/PinClipart.com_fitness-images-clip-art_93160.png", alt="Logo")

            .col-5 
                .box-search
                    form(
                        action="/search/result"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Nhập từ khóa..."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tìm
                    .inner-suggest
                        .inner-list
            .col-4 
                .inner-menu     
                    ul 
                        li 
                            a(href="/") Trang chủ 
                        li 
                            a(href="/") Về chúng tôi
                        li(class="sub-menu")
                            -const pathPost = "/post"
                            a(href="/post") Bài viết
                                +sub-menu(layoutCategory, pathPost)
                        //- li 
                        //-     a(href="/") Bài viết
                        //- if(user)
                        //-     li 
                        //-         a(href="/users/friends") Bạn bè
                        //-     li 
                        //-         a(href="/rooms-chat") Phòng chat
                        //-     li 
                        //-         a(href="/user/info") #{user.fullName}
                        //-     li 
                        //-         a(href="/user/logout") Đăng xuất
                        //- else 
                        //-     li 
                        //-         a(href="/user/register") Đăng ký 
                        //-     li 
                        //-         a(href="/user/login") Đăng Nhập 
                        